In [73]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from os import listdir

Loading in all the data.

In [74]:
pd.set_option('display.max_columns', None)

In [75]:
weather = pd.read_csv('../weather/clean_weather.csv')
fire = pd.read_csv('../fires/clean_fire_data.csv')
tourism = pd.read_csv('../tourism/clean_tourism.csv')

In [76]:
tourism

,Region Number,Code,Name,Year,Month,Tourism Money,Population,Tourism PC
0,17,RD17,Capital,2001,1,4907000.0,340002.0,14.432268
1,17,RD17,Capital,2001,2,6541000.0,340002.0,19.238122
2,17,RD17,Capital,2001,3,9673000.0,340002.0,28.449833
3,17,RD17,Capital,2001,4,10321000.0,340002.0,30.355704
4,17,RD17,Capital,2001,5,14285000.0,340002.0,42.014459
...,...,...,...,...,...,...,...,...
5791,51,RD51,Bulkley-nechako+stikine,2021,8,938000.0,40637.0,23.082413
5792,51,RD51,Bulkley-nechako+stikine,2021,9,1527000.0,40637.0,37.576593
5793,51,RD51,Bulkley-nechako+stikine,2021,10,811000.0,40637.0,19.957182
5794,51,RD51,Bulkley-nechako+stikine,2021,11,919000.0,40637.0,22.614858
5795,51,RD51,Bulkley-nechako+stikine,2021,12,1147000.0,40637.0,28.225509

In [77]:
weather

,Weather City,Year,Month,Mean Max Temp,Mean Min Temp,Mean Temp,Total Rain,Total Snow,Total Precip
0,Bella Coola,1983.0,2,7.400000,0.400000,3.900000,74.0,1.8,75.0
1,Bella Coola,1983.0,3,12.400000,-0.800000,5.800000,37.5,0.0,37.5
2,Bella Coola,1983.0,4,16.300000,2.600000,9.500000,9.5,0.0,9.5
3,Bella Coola,1983.0,5,19.300000,7.000000,13.200000,36.0,0.0,36.0
4,Bella Coola,1983.0,6,17.900000,10.900000,14.400000,89.4,0.0,89.4
...,...,...,...,...,...,...,...,...,...
14287,Williams Lake,2021.0,8,21.985714,9.157143,15.600000,28.5,0.0,32.9
14288,Williams Lake,2021.0,9,16.906667,5.833333,11.396667,36.3,0.0,36.3
14289,Williams Lake,2021.0,10,8.710345,-0.058621,4.355172,24.1,0.6,24.6
14290,Williams Lake,2021.0,11,3.866667,-3.359259,0.259259,14.4,14.0,26.6
14291,Williams Lake,2021.0,12,-9.896429,-17.096429,-13.521429,5.3,77.1,73.9

In [78]:
fire

,FIRE_CAUSE,LATITUDE,LONGITUDE,SIZE_HA,Year,Month,Weather City,Region Name,Region Number,Region Area,Lightning Dummy
0,Lightning,52.7163,-120.8649,0.009,2014,8,Williams Lake,Cariboo,41.0,8060975.0,1
1,Lightning,51.3333,-120.8167,0.009,2003,7,Williams Lake,Thompson-Nicola,33.0,4444942.0,1
2,Person,55.7837,-120.9953,2.500,2003,9,Dawson Creek,Peace River,55.0,11738755.0,0
3,Lightning,51.1633,-118.9430,0.009,2007,7,Nakusp,Columbia-Shuswap,39.0,2892919.0,1
4,Lightning,54.8516,-127.6553,0.009,2009,7,Smithers,Bulkley-Nechako + Stikine,51.0,19202453.0,1
...,...,...,...,...,...,...,...,...,...,...,...
34986,Person,49.3728,-116.0612,29.000,2021,7,Sparwood,East Kootenay,1.0,2754184.0,0
34987,Lightning,48.5600,-124.2433,0.300,2021,7,Vancouver,Capital,17.0,234049.0,1
34988,Lightning,50.3275,-120.3483,0.100,2021,7,Penticton,Thompson-Nicola,33.0,4444942.0,1
34989,Lightning,50.4047,-115.8580,0.009,2021,7,Sparwood,East Kootenay,1.0,2754184.0,1
34990,Lightning,55.8000,-124.8167,0.010,2005,6,Smithers,Bulkley-Nechako + Stikine,51.0,19202453.0,1

Merging all the data and remove colder months.

In [79]:
temp = pd.merge(fire, weather, on=['Weather City','Year','Month'], how='left')

In [80]:
temp2 = pd.merge(temp, tourism, on=['Region Number','Year','Month'], how='inner').dropna()

In [81]:
temp2 = temp2[temp2['Month'].isin([4,5,6,7,8,9])].reset_index(drop=True)

In [82]:
temp2

,FIRE_CAUSE,LATITUDE,LONGITUDE,SIZE_HA,Year,Month,Weather City,Region Name,Region Number,Region Area,Lightning Dummy,Mean Max Temp,Mean Min Temp,Mean Temp,Total Rain,Total Snow,Total Precip,Code,Name,Tourism Money,Population,Tourism PC
0,Lightning,52.7163,-120.8649,0.009,2014,8,Williams Lake,Cariboo,41.0,8060975.0,1,23.493548,10.183871,16.874194,62.4,0.0,62.4,RD41,Cariboo,0.0,63624.0,0.000000
1,Lightning,52.6945,-120.9861,0.009,2014,8,Williams Lake,Cariboo,41.0,8060975.0,1,23.493548,10.183871,16.874194,62.4,0.0,62.4,RD41,Cariboo,0.0,63624.0,0.000000
2,Lightning,52.7178,-122.9730,40.000,2014,8,Williams Lake,Cariboo,41.0,8060975.0,1,23.493548,10.183871,16.874194,62.4,0.0,62.4,RD41,Cariboo,0.0,63624.0,0.000000
3,Lightning,51.6253,-121.2484,0.009,2014,8,Williams Lake,Cariboo,41.0,8060975.0,1,23.493548,10.183871,16.874194,62.4,0.0,62.4,RD41,Cariboo,0.0,63624.0,0.000000
4,Lightning,52.2330,-124.5783,44.500,2014,8,Bella Coola,Cariboo,41.0,8060975.0,1,25.274194,12.706452,19.012903,20.8,0.0,20.8,RD41,Cariboo,0.0,63624.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29711,Person,48.4334,-124.0700,0.009,2021,6,Vancouver,Capital,17.0,234049.0,0,22.421429,13.164286,17.817857,37.2,0.0,37.2,RD17,Capital,18996000.0,430484.0,44.127076
29712,Person,48.7664,-123.5523,0.050,2021,6,Vancouver,Capital,17.0,234049.0,0,22.421429,13.164286,17.817857,37.2,0.0,37.2,RD17,Capital,18996000.0,430484.0,44.127076
29713,Lightning,50.1442,-125.2606,0.009,2020,9,Tofino,Comox + Strathacona,25.0,1997796.0,1,19.300000,12.266667,15.810000,162.6,0.0,162.6,RD25,Comox+strathcona,1569000.0,122948.0,12.761493
29714,Person,48.4277,-123.5431,0.100,2020,9,Vancouver,Capital,17.0,234049.0,0,20.186667,12.456667,16.356667,59.2,0.0,59.2,RD17,Capital,17427000.0,425818.0,40.925935
29715,Person,49.3475,-122.9123,0.200,2020,9,Vancouver,Greater Vancouver,15.0,288268.0,0,20.186667,12.456667,16.356667,59.2,0.0,59.2,RD15,Greater vancouver,40943000.0,2743774.0,14.922147

The cells below get all the desired columns, then groups by Region, Year and Month, getting the means and sums of all the columns.

In [83]:
temp3 = temp2[['Year', 'Month', 'Region Name', 'Region Area', 'Mean Max Temp', 'Mean Min Temp',
       'Mean Temp', 'Total Rain', 'Total Snow', 'Total Precip','Tourism PC', 'Lightning Dummy', 'SIZE_HA']]

In [84]:
temp4 = temp3.groupby(['Region Name','Year','Month']).mean().reset_index()
temp_sums = temp3.groupby(['Region Name','Year','Month']).sum().reset_index()

In [85]:
temp4

,Region Name,Year,Month,Region Area,Mean Max Temp,Mean Min Temp,Mean Temp,Total Rain,Total Snow,Total Precip,Tourism PC,Lightning Dummy,SIZE_HA
0,Alberni-Clayquot,2001,4,658915.0,11.170000,3.500000,7.366667,286.400000,0.0,286.400000,55.555556,0.000000,0.009000
1,Alberni-Clayquot,2001,7,658915.0,17.567742,9.451613,13.538710,23.400000,0.0,23.400000,139.015439,0.000000,0.300000
2,Alberni-Clayquot,2002,7,658915.0,19.061290,10.454839,14.777419,53.400000,0.0,53.400000,158.202938,0.000000,0.602250
3,Alberni-Clayquot,2002,9,658915.0,17.423333,8.930000,13.210000,137.300000,0.0,137.300000,125.627980,0.500000,7.505000
4,Alberni-Clayquot,2003,5,658915.0,13.767742,6.264516,10.045161,155.600000,0.0,155.600000,82.419515,0.000000,0.150000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2308,Thompson-Nicola,2021,5,4444942.0,20.345197,5.188342,12.786815,12.961538,0.0,18.946154,23.012439,0.000000,0.902923
2309,Thompson-Nicola,2021,6,4444942.0,26.505905,11.225842,18.885231,14.887500,0.0,23.606250,36.310168,0.187500,6381.709281
2310,Thompson-Nicola,2021,7,4444942.0,30.977508,14.421078,22.724606,9.991279,0.0,10.529651,60.336668,0.883721,1542.490477
2311,Thompson-Nicola,2021,8,4444942.0,26.088223,11.943469,19.038677,16.405000,0.0,26.915000,66.576528,0.550000,28.688550
2312,Thompson-Nicola,2021,9,4444942.0,21.583810,8.321905,14.973810,20.871429,0.0,20.871429,61.607626,0.000000,1.356571

In [86]:
temp_sums

,Region Name,Year,Month,Region Area,Mean Max Temp,Mean Min Temp,Mean Temp,Total Rain,Total Snow,Total Precip,Tourism PC,Lightning Dummy,SIZE_HA
0,Alberni-Clayquot,2001,4,658915.0,11.170000,3.500000,7.366667,286.4,0.0,286.4,55.555556,0,0.009
1,Alberni-Clayquot,2001,7,658915.0,17.567742,9.451613,13.538710,23.4,0.0,23.4,139.015439,0,0.300
2,Alberni-Clayquot,2002,7,2635660.0,76.245161,41.819355,59.109677,213.6,0.0,213.6,632.811750,0,2.409
3,Alberni-Clayquot,2002,9,1317830.0,34.846667,17.860000,26.420000,274.6,0.0,274.6,251.255960,1,15.010
4,Alberni-Clayquot,2003,5,1317830.0,27.535484,12.529032,20.090323,311.2,0.0,311.2,164.839029,0,0.300
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2308,Thompson-Nicola,2021,5,57784246.0,264.487566,67.448446,166.228592,168.5,0.0,246.3,299.161709,0,11.738
2309,Thompson-Nicola,2021,6,142238144.0,848.188966,359.226948,604.327407,476.4,0.0,755.4,1161.925365,6,204214.697
2310,Thompson-Nicola,2021,7,764530024.0,5328.131398,2480.425376,3908.632258,1718.5,0.0,1811.1,10377.906977,152,265308.362
2311,Thompson-Nicola,2021,8,88898840.0,521.764455,238.869386,380.773548,328.1,0.0,538.3,1331.530557,11,573.771
2312,Thompson-Nicola,2021,9,31114594.0,151.086667,58.253333,104.816667,146.1,0.0,146.1,431.253380,0,9.496

The cells below reaplce the SIZE_HA from the averages with the sum, to get the total area burned in a region per year and month. A column with the percentage of area burned is also created. Then the columns are renamed, and all values in 2022 are dropped.

In [87]:
temp4['SIZE_HA'] = temp_sums['SIZE_HA']

In [88]:
temp4['Fire Area Perc'] = (temp4['SIZE_HA'] / temp4['Region Area'])*100

In [89]:
temp5 = temp4.drop('Region Area', axis=1).dropna()

In [90]:
temp5

,Region Name,Year,Month,Mean Max Temp,Mean Min Temp,Mean Temp,Total Rain,Total Snow,Total Precip,Tourism PC,Lightning Dummy,SIZE_HA,Fire Area Perc
0,Alberni-Clayquot,2001,4,11.170000,3.500000,7.366667,286.400000,0.0,286.400000,55.555556,0.000000,0.009,0.000001
1,Alberni-Clayquot,2001,7,17.567742,9.451613,13.538710,23.400000,0.0,23.400000,139.015439,0.000000,0.300,0.000046
2,Alberni-Clayquot,2002,7,19.061290,10.454839,14.777419,53.400000,0.0,53.400000,158.202938,0.000000,2.409,0.000366
3,Alberni-Clayquot,2002,9,17.423333,8.930000,13.210000,137.300000,0.0,137.300000,125.627980,0.500000,15.010,0.002278
4,Alberni-Clayquot,2003,5,13.767742,6.264516,10.045161,155.600000,0.0,155.600000,82.419515,0.000000,0.300,0.000046
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2308,Thompson-Nicola,2021,5,20.345197,5.188342,12.786815,12.961538,0.0,18.946154,23.012439,0.000000,11.738,0.000264
2309,Thompson-Nicola,2021,6,26.505905,11.225842,18.885231,14.887500,0.0,23.606250,36.310168,0.187500,204214.697,4.594316
2310,Thompson-Nicola,2021,7,30.977508,14.421078,22.724606,9.991279,0.0,10.529651,60.336668,0.883721,265308.362,5.968770
2311,Thompson-Nicola,2021,8,26.088223,11.943469,19.038677,16.405000,0.0,26.915000,66.576528,0.550000,573.771,0.012908
2312,Thompson-Nicola,2021,9,21.583810,8.321905,14.973810,20.871429,0.0,20.871429,61.607626,0.000000,9.496,0.000214

In [91]:
temp5.columns = ['Region Name', 'Year', 'Month', 'Mean Max Temp', 'Mean Min Temp',
       'Mean Temp', 'Total Rain', 'Total Snow', 'Total Precip',
       'Tourism PC', 'Lightning Perc','Fire Area', 'Fire Area Perc']

In [92]:
temp6 = temp5[temp5['Year'] != 2022].reset_index(drop=True)

In [93]:
temp6

,Region Name,Year,Month,Mean Max Temp,Mean Min Temp,Mean Temp,Total Rain,Total Snow,Total Precip,Tourism PC,Lightning Perc,Fire Area,Fire Area Perc
0,Alberni-Clayquot,2001,4,11.170000,3.500000,7.366667,286.400000,0.0,286.400000,55.555556,0.000000,0.009,0.000001
1,Alberni-Clayquot,2001,7,17.567742,9.451613,13.538710,23.400000,0.0,23.400000,139.015439,0.000000,0.300,0.000046
2,Alberni-Clayquot,2002,7,19.061290,10.454839,14.777419,53.400000,0.0,53.400000,158.202938,0.000000,2.409,0.000366
3,Alberni-Clayquot,2002,9,17.423333,8.930000,13.210000,137.300000,0.0,137.300000,125.627980,0.500000,15.010,0.002278
4,Alberni-Clayquot,2003,5,13.767742,6.264516,10.045161,155.600000,0.0,155.600000,82.419515,0.000000,0.300,0.000046
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2308,Thompson-Nicola,2021,5,20.345197,5.188342,12.786815,12.961538,0.0,18.946154,23.012439,0.000000,11.738,0.000264
2309,Thompson-Nicola,2021,6,26.505905,11.225842,18.885231,14.887500,0.0,23.606250,36.310168,0.187500,204214.697,4.594316
2310,Thompson-Nicola,2021,7,30.977508,14.421078,22.724606,9.991279,0.0,10.529651,60.336668,0.883721,265308.362,5.968770
2311,Thompson-Nicola,2021,8,26.088223,11.943469,19.038677,16.405000,0.0,26.915000,66.576528,0.550000,573.771,0.012908
2312,Thompson-Nicola,2021,9,21.583810,8.321905,14.973810,20.871429,0.0,20.871429,61.607626,0.000000,9.496,0.000214

A version of the final data is saved for the visualizations.

In [95]:
temp6.to_csv('all_data_no_dums.csv', index=False)

Dummy variables are then created for all controls: Regions, Years, Months. The base cases, those that are droppped, are Alberni-Clayquot, 2001, and April respectively.

In [96]:
region_dums = pd.get_dummies(temp6['Region Name']).drop('Alberni-Clayquot',axis=1)

In [97]:
year_dums = pd.get_dummies(temp6['Year']).drop(2001, axis=1)

In [98]:
month_dums = pd.get_dummies(temp6['Month']).drop(4,axis=1)

In [99]:
final_data = pd.concat([region_dums, year_dums, month_dums, temp6.drop(['Region Name','Year','Month'],axis=1)],axis=1)

In [100]:
final_data = final_data.dropna().reset_index(drop=True)

In [101]:
final_data

,Bulkley-Nechako + Stikine,Capital,Cariboo,Central Kootenay,Central Okanagan,Columbia-Shuswap,Comox + Strathacona,Cowichan Valley,East Kootenay,Fraser Valley,Fraser-Fort George,Greater Vancouver,Kitimat-Stikine,Kooteny Boundary,Mount Waddington,Nanaimo,North Okanagan,Okanagan-Similkameen,Squamish-Lillooet,Sunshine Coast,Thompson-Nicola,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,5,6,7,8,9,Mean Max Temp,Mean Min Temp,Mean Temp,Total Rain,Total Snow,Total Precip,Tourism PC,Lightning Perc,Fire Area,Fire Area Perc
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,11.170000,3.500000,7.366667,286.400000,0.0,286.400000,55.555556,0.000000,0.009,0.000001
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,17.567742,9.451613,13.538710,23.400000,0.0,23.400000,139.015439,0.000000,0.300,0.000046
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,19.061290,10.454839,14.777419,53.400000,0.0,53.400000,158.202938,0.000000,2.409,0.000366
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,17.423333,8.930000,13.210000,137.300000,0.0,137.300000,125.627980,0.500000,15.010,0.002278
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,13.767742,6.264516,10.045161,155.600000,0.0,155.600000,82.419515,0.000000,0.300,0.000046
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2308,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,20.345197,5.188342,12.786815,12.961538,0.0,18.946154,23.012439,0.000000,11.738,0.000264
2309,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,26.505905,11.225842,18.885231,14.887500,0.0,23.606250,36.310168,0.187500,204214.697,4.594316
2310,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,30.977508,14.421078,22.724606,9.991279,0.0,10.529651,60.336668,0.883721,265308.362,5.968770
2311,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,26.088223,11.943469,19.038677,16.405000,0.0,26.915000,66.576528,0.550000,573.771,0.012908
2312,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,21.583810,8.321905,14.973810,20.871429,0.0,20.871429,61.607626,0.000000,9.496,0.000214

In [102]:
final_data.to_csv('final_data.csv', index=False)