In [1]:
import numpy as np
import pandas as pd

Data is in a shape where we have quarterly data and annual data, along with room revenue broken down by type of accomodation. Cell below takes in the sheets of the 2000-2009 data, and gets only the monthly data, and the totals for the regions.

In [32]:
output = []
for sheet in ['2000-2003','2004-2007','2008-2009']:
    df = pd.read_excel('hand_cleaned/tourism_data_2000-2010.xlsx', sheet_name=sheet)
    temp = [x for x in df.columns if str(x)[:3] == '200' and str(x)[-1] != '1']
    cols = list(df.columns[:4]) + temp
    data = df[cols]
    temp2 = [str(x)[:10] for x in df.columns if str(x)[:3] == '200' and str(x)[-1] != '1']
    new_cols = ['GEO','NUM','TYPE','NAME'] + temp2
    data.columns = new_cols
    data2 = data.iloc[1:,:]
    data3 = data2[data2['TYPE'] == 'TOT'].reset_index(drop=True)
    output.append(data3)

Cell takes the three different sheets and merges them such that all years/months are on the columns, and then checks that the merge went well (No duplicated rows for regions). Then, it gets only the desired columns to produce a final table.

In [35]:
merge_temp = pd.merge(output[0], output[1], on='NAME', how='left')
merge_final = pd.merge(merge_temp, output[2], on='NAME', how='left')
for col in ['GEO','NUM','TYPE']:
    temp = sum((merge_final[col] == merge_final[col+'_x']) & (merge_final[col] == merge_final[col+'_y']) & (merge_final[col+'_y'] == merge_final[col+'_x']))
    if (temp != 93):
        print(col)
    else:
        print('Good!')
temp_cols =[x for x in merge_final.columns if x[:3] == '200']
final_cols = ['GEO','NUM','NAME'] + temp_cols
final_data = merge_final[final_cols]

Good!
Good!
Good!

In [36]:
final_data

,GEO,NUM,NAME,2000-01-01,2000-02-01,2000-03-01,2000-04-01,2000-05-01,2000-06-01,2000-07-01,...,2009-03-01,2009-04-01,2009-05-01,2009-06-01,2009-07-01,2009-08-01,2009-09-01,2009-10-01,2009-11-01,2009-12-01
0,DR,DR01,VANCOUVER ISLAND/COAST DR,7582000,10090000,13198000,15808000,21442000,26748000,37878000,...,19097000,20312000,27625000,31768000,43993000,49399000,35941000,21977000,15374000,14023000
1,RD,RD17,CAPITAL RD,4149000,5952000,7620000,10057000,13860000,17144000,22913000,...,10915000,11928000,16124000,17253000,22387000,23500000,19264000,12211000,7962000,7311000
2,UC,UC04,VICTORIA UC,3401000,5017000,6383000,8454000,11592000,14425000,18843000,...,8725000,9424000,12707000,13109000,16643000,17229000,14898000,9342000,6119000,5413000
3,UC,UC28,SAANICH PENINSULA UC,226000,261000,305000,404000,510000,530000,753000,...,643000,857000,926000,1103000,1417000,1507000,1276000,839000,617000,631000
4,UC,UC9917,REST OF CAPITAL RD,522000,674000,932000,1199000,1758000,2189000,3316000,...,1547000,1647000,2491000,3041000,4327000,4765000,3090000,2030000,1225000,1267000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,RD,RD55+59,PEACE RIVER+NORTHERN ROCKIES RD,2635000,3277000,3349000,1554000,1567000,2127000,2650000,...,6606000,4189000,3894000,5849000,5692000,5664000,5725000,6356000,5787000,5033000
89,UC,UC12,FORT ST JOHN UC,855000,1117000,997000,510000,628000,687000,791000,...,1692000,1097000,1087000,1336000,1258000,1303000,1338000,1712000,1594000,1078000
90,UC,UC19,DAWSON CREEK UC,384000,404000,463000,296000,304000,392000,494000,...,1330000,702000,720000,1160000,1244000,1482000,1483000,1660000,1554000,1160000
91,UC,UC9955+59,REST OF NORTHEAST DR,1396000,1756000,1890000,748000,635000,1048000,1365000,...,3584000,2389000,2087000,3353000,3190000,2879000,2904000,2983000,2639000,2796000
92,BC,BC00,BRITISH COLUMBIA,80129000,96551000,116881000,99118000,115752000,141561000,180236000,...,134936000,116521000,141589000,165699000,211175000,232381000,173531000,120616000,93733000,109123000

In [37]:
final_data.to_csv('cleaned/tourism_data_2000-2009.csv', index=False)